@model MVC.Models.Subject

<form method="post" asp-action="DeletePost">
    <input asp-for="Subject_id" hidden />
    <div class="border p-3 bg-white">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Subject Details</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Subject_name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Subject_name" disabled class="form-control" />
                        <span asp-validation-for="Subject_name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Syllabus"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Syllabus" disabled class="form-control" />
                        <span asp-validation-for="Syllabus" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="DeletePost" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>


@section Scripts{

@{
    <partial name="_ValidationScriptsPartial" />
}

}
