@model MVC.Models.Student



@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <div class="border p-3 bg-white">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-info pl-3">Add Student</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Student_name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Student_name" class="form-control" />
                        <span asp-validation-for="Student_name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Student_class"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Student_class" class="form-control" />
                        <span asp-validation-for="Student_class" class="text-danger"></span>
                    </div>
                    -
                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Subject_id" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Subject_id" class="form-control" asp-items="ViewBag.Subject_id">
                            <option value="">--Select Subject--</option>
                        </select>

                        <span asp-validation-for="Subject_id" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>


@section Scripts{

@{
    <partial name="_ValidationScriptsPartial" />
}

}